@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("heise.de") {

  article {
    font-family: "Vollkorn", "Liberation Serif", "DejaVu Serif Condensed", "FreeSerif", "DejaVu Serif", serif;
  }

  #bannerzone {
    display: none;
  }

  #container_content {
    top: 0;
  }

}
