@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document
  domain("wikipedia.org"),
  domain("wikibooks.org"),
  domain("wiktionary.org")
{

  html,
  body,
  #p-lang ul
  {
    font-family: "Vollkorn", "Liberation Serif", "DejaVu Serif Condensed", "FreeSerif", "DejaVu Serif", serif;
  }

  #centralNotice
  {
    display: none !important;;
  }

  #mw-head {
    top: 0 !important;
  }

  #mw-panel {
    top: 160px !important;
  }

}
