@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("blog.fefe.de") {

  * {
    font-family: "Vollkorn", "Liberation Serif", "DejaVu Serif Condensed", "FreeSerif", "DejaVu Serif", serif;
  }

  ul > li {
    list-style-type: none;
    padding-left: .5em;
  }

  blockquote,
  pre {
    margin: 1em 2em;
    padding: .5em;
    border-left: .2em solid #888;
    background-color: #eee;
  }

  pre,
  pre p {
    font-family: monospace !important;
  }

  p[u] {
    margin: 1em 2em;
    padding: .5em;
    background-color: #ff9;
    border-left: .2em solid #fc6;
  }

  p:-moz-only-whitespace {
    display: none;
  }

  dd {
    margin: -1.2em 0 2em 4.3em;
  }

}
